.d-auth {
    margin: 3rem auto;
    width: 60%;
    max-width: 28rem;
    border-radius: 6px;
    background-color: #088b6d;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
    color: white;
}

.d-auth h1 {
    text-align: center;
    color: white;
}

.d-control {
    margin-bottom: 0.5rem;
}

.d-control label {
    display: block;
    color: white;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.d-control-input {
    font: inherit;
    background-color: #f1e1fc;
    color: #088b6d;
    border-radius: 4px;
    border: 1px solid white;
    width: 80%;
    text-align: left;
    padding: 0.25rem;
}

.d-actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-actions-button {
    cursor: pointer;
    font: inherit;
    color: white;
    font-weight: bolder;
    background-color: rgb(114, 172, 168);
    border: 1px solid #04958c;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
}

.d-actions-button:hover {
    background-color: #076063;
    border-color: #076063;
}

.d-actions-toggle {
    text-decoration: none;
    margin-top: 1rem;
    background-color: transparent;
    color: #8cebe5;
    border: none;
    padding: 0.15rem 1.5rem;
}

.d-actions-toggle:hover {
    background-color: transparent;
    color: #393b3b;
}