.wd-R-login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wd-R-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wd-R-input{
    height: 20px;
    width: 500px;
    padding: 10px;
}

.wd-button {
    border: none;
    padding: 10px 20px;
    background-color: lightslategray;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.wd-button:disabled{
    background-color: lightslategray;
    cursor: not-allowed;
}